<div class="topbar show-nav-bar">
  <div class="user-icon">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left dark-topbar-icon"></i>
    <% end %>
  </div>
  <div class="user-icon">
    <%= link_to(edit_user_registration_path) do %>
      <i class="fa-solid fa-user grey-topbar-icon"></i>
    <% end %>
  </div>
</div>
<div class="align-items-center no-padding show-page">
  <img class="show-recipe-image" src="<%= @recipe.image %>" alt="<%= @recipe.name %> image">
  <div class=" container recipe-description">
    <h1><%= @recipe.name %></h1>
    <h3 class="show-page-h3">Recipe Ingredients</h3>
    <div class="show-page-content">
      <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
        <% if current_user.pantry.ingredients.include?(recipe_ingredient.ingredient) %>
          <p class="show-page-p"><%= recipe_ingredient.amount %> <%= recipe_ingredient.unit %>   <%= recipe_ingredient.ingredient.name %> ✔️</p>
        <% else %>
          <p class="show-page-p"><%= recipe_ingredient.amount %> <%= recipe_ingredient.unit %>   <%= recipe_ingredient.ingredient.name %> ❌</p>
        <% end %>
      <% end %>
    </div>
      <h3 class="show-page-h3">Recipe Instructions</h3>
      <p class="show-page-p mb-1"><%= @recipe.instructions.html_safe %></p>
  </div>
  <br>
  <br>
  <br>
</div>
