<div class="card-ingredient" data-controller="pantry-ingredients" data-pantry-ingredients-url-value="<%= pantry_ingredient_url(pantry_ingredient) %>"  data-pantry-ingredients-shopping-value="<%= pantry_pantry_ingredient_url(pantry_ingredient) %>" data-pantry-ingredients-id-value=<%= pantry_ingredient.id %> data-pantry-ingredients-target="ingredientCard">
  <div style="width: 120px; height: 100%;">
    <img src="<%= pantry_ingredient.ingredient.image %>" />
  </div>
  <div class="card-ingredient-infos">
    <h3><%= pantry_ingredient.ingredient.name.titleize %></h3>
    <p class="detail mb-0">In Stock: <%= pantry_ingredient.in_stock %></p>
  </div>
  <div class="card-ingredient-btns">
    <button data-action="click->pantry-ingredients#remove_ingredient" class="card-ingredient-btn"><i class='fa-solid fa-trash-can'></i></button>
    <button data-action="click->pantry-ingredients#send_to_shopping_list" class="card-ingredient-btn"><i class='fa-solid fa-basket-shopping icon-navbar'></i></button>
  </div>
</div>
