<div class="card-ingredient" data-controller="pantry-ingredients" data-pantry-ingredients-id-value=<%= pantry_ingredient.id %> data-action="click->pantry-ingredients#remove_ingredient" data-pantry-ingredients-target="ingredientCard">
  <img src="<%= pantry_ingredient.ingredient.image %>" />
  <div class="card-ingredient-infos">
    <h3><%= pantry_ingredient.ingredient.name.titleize %></h3>
    <p class="detail mb-0">Default: <%= pantry_ingredient.default %></p>
    <p class="detail mb-0">In Stock: <%= pantry_ingredient.in_stock %></p>
  </div>
</div>
