<div class="background-pantry">
  <%= render 'shared/topbar' %>
  <div class="body-grid">
    <div class="container-show-pantry">
      <h1>This is your pantry ðŸ¥‘</h1>
      <p style="font-size: 16px; color: white; margin-bottom: 20px; margin-left: 3px;">Send your ingredients to the <br> shopping list or remove them!</p>
      <%= form_with url: pantry_path, method: :get, class: "mb-3" do |form| %>
      <%= form.text_field :query,
                          class: "form-control search-bar",
                          placeholder: 'Search ingredient' %>
      <% end %>
        <div class="scroll-categories" data-controller="categories-pant">
          <%= link_to 'All', pantry_path, class: "category-pantry" %>
          <%= link_to 'ðŸ– Meat', pantry_path(category: 'meat'), class: "category-pantry", id: "meat" %>
          <%= link_to 'ðŸŸ Fish', pantry_path(category: 'fish'), class: "category-pantry", id: "fish"  %>
          <%= link_to 'ðŸ¥› Dairy', pantry_path(category: 'milk egg dairy cheese'), class: "category-pantry", id: "milk egg dairy cheese"  %>
          <%= link_to 'ðŸŒ± Produce', pantry_path(category: 'fruit vegetable produce'), class: "category-pantry", id: "fruit vegetable produce"  %>
          <%= link_to 'ðŸ¹ Beverages', pantry_path(category: 'beverage'), class: "category-pantry", id: "beverage"  %>
          <%= link_to 'ðŸ§‚ Seasonings', pantry_path(category: 'spice seasoning'), class: "category-pantry", id: "spice seasoning"  %>
          <%= link_to 'ðŸš Carbs', pantry_path(category: 'pasta rice baking'), class: "category-pantry", id: "pasta rice baking"  %>
          <%= link_to 'ðŸ¶ Dressings', pantry_path(category: 'oil vinegar salad dressing'), class: "category-pantry", id: "oil vinegar salad dressing"  %>
          <%= link_to 'ðŸ¥« Canned', pantry_path(category: 'can jar'), class: "category-pantry", id: "can jar"  %>
          <%= link_to 'ðŸ§Š Frozen', pantry_path(category: 'refrigerate frozen'), class: "category-pantry", id: "refrigerate frozen"  %>
          <%= link_to 'ðŸ¯ Jams', pantry_path(category: 'nut butter jams honey'), class: "category-pantry", id: "nut butter jams honey"  %>
        </div>
        <% if @pantry_ingredients %>
          <% @pantry_ingredients.each do |pantry_ingredient| %>
            <% if pantry_ingredient.class == PantryIngredient %>
              <% if pantry_ingredient.in_stock %>
                <%= render "show_ingredient_card", pantry_ingredient: pantry_ingredient %>
              <% end %>
            <% elsif pantry_ingredient.nil? %>
            <% elsif pantry_ingredient.first %>
              <% if pantry_ingredient.first.in_stock %>
                <%= render "show_ingredient_card", pantry_ingredient: pantry_ingredient.first %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <p id="empty-pantry" ></p>
        <% end %>
      <%= link_to "Do you want to add ingredients?", pantry_ingredients_path, class: "primary-dark-btn-wfd" %>
    </div>
  </div>
  <%= render 'shared/navbar'%>
</div>
