<div class="background-pantry">
  <%= render 'shared/topbar' %>
  <div class="body-grid">
    <div class="container-show-pantry">
      <h1>This is your pantry 🥑</h1>
      <p style="font-size: 16px; color: white; margin-bottom: 20px; margin-left: 3px;">Send your ingredients to the <br> shopping list or remove them!</p>
      <%= form_with url: pantry_path, method: :get, class: "mb-3" do |form| %>
      <%= form.text_field :query,
                          class: "form-control search-bar",
                          placeholder: 'Search ingredient' %>
      <% end %>
          <%= link_to 'meat', pantry_path(category: 'meat') %>
          <%= link_to 'fish', pantry_path(category: 'fish') %>
          <%= link_to 'dairy', pantry_path(category: 'milk egg dairy cheese') %>
          <%= link_to 'jams', pantry_path(category: 'nut butter jams honey') %>
          <%= link_to 'beverages', pantry_path(category: 'beverage') %>
          <%= link_to 'Seasonings', pantry_path(category: 'spice seasoning') %>
          <%= link_to 'Carbs', pantry_path(category: 'pasta rice baking') %>
          <%= link_to 'Dressings', pantry_path(category: 'Oil Vinegar Salad Dressing') %>
          <%= link_to 'canned', pantry_path(category: 'can jar') %>
          <%= link_to 'frozen', pantry_path(category: 'refrigerate frozen') %>
          <%= link_to 'produce', pantry_path(category: 'fruit vegetable produce') %>
        <% @pantry_ingredients.each do |pantry_ingredient| %>
          <% if pantry_ingredient.first.in_stock %>
          <%= render "show_ingredient_card", pantry_ingredient: pantry_ingredient.first %>
          <% end %>
        <% end %>
      <%= link_to "Do you want to add ingredients?", pantry_ingredients_path, class: "primary-dark-btn-wfd" %>
    </div>
  </div>
  <%= render 'shared/navbar'%>
</div>
